.container-reviewExamns {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .table {
    position: relative;
    width: 70%;
    height: 500px;
    h1 {
      text-align: center;
      color: var(--color-primary);
    }
    .ant-table {
      box-shadow: var(--box-shadow);
      .ant-table-container {
        .ant-table-content {
          .ant-table-thead {
            tr {
              .ant-table-cell {
                background-color: var(--color-primary);
                color: #fff;
                text-align: center;
              }
            }
          }
          .ant-table-tbody {
            .ant-table-row {
              .ant-table-cell {
                text-align: center;

                &:nth-child(5n) {
                  width: 350px;
                }
              }
            }
          }
        }
      }

      .button-render {
        height: 30px;
        margin: 0 10px;
        width: 130px;
        background-color: var(--color-primary);
        border: none;
        border-radius: 20px;
        box-shadow: var(--box-shadow);
        color: #fff;
        transition: 0.7s;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
        }
      }

      .aprobados {
        font-weight: bold;
        color: green;
      }
      .rechazados {
        font-weight: bold;
        color: red;
      }
      .pendiente {
        font-weight: bold;
        color: orange;
      }
    }
  }
}
