.container-createEmployee {
  width: 100%;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  padding-bottom: 20px;

  & .prueba {
    margin-top: 120px;
    position: relative;
    width: 70%;
    height: auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h1 {
      color: var(--color-primary);
    }

    .container-button {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .button-register {
        height: 35px;
        width: 300px;
        margin: 0 auto;
        background-color: var(--color-primary);
        box-shadow: var(--box-shadow);
        border: none;
        border-radius: 20px;
        opacity: 1;
        color: #fff;
        font-weight: bold;
        font-size: 15px;
        transition: 0.7s;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

@media (max-width: 370px) {
  .container-createEmployee {
    width: 100%;
    h1 {
      text-align: center;
    }
  }
}

@media (min-width: 370px) and (max-width: 576px) {
  // .container-createEmployee {
  //   width: 100%;
  //   margin-top: 170px;
  //   h1 {
  //     text-align: center;
  //   }
  // }
} // $breakpoint-mobile-sm: 340px;
// $breakpoint-mobile: 576px;
// $breakpoint-tablet: 768px;
// $breakpoint-laptop: 992px;
// $breakpoint-desktop: 1366px;
