.container-notFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: gray;

    .icon {
        margin-top: 1rem;
        font-size: 9rem;
        text-align: center;
        margin-bottom: -2rem;

    }

    .titulo {
        font-size: 4rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    .contenido {
        text-align: center;
        font-size: 2rem;
    }

}

.button {

    height: 35px;
    width: 200px;
    background-color: var(--color-primary);
    border: none;
    border-radius: 20px;
    opacity: 1;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    transition: 0.7s;
    cursor: pointer;
}