@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root{

    --background-color: #fff;
    --color-primary: #036FE1;
    --box-shadow: 0 3px 7px -1px #a8a8ab;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    // $color-secundario: #6B6;
    // $color-texto: #666;
}
body{

    margin : 0;


    input{
        outline: none;
    }
}